# General dev noise
bin/
obj/
.vs/
*.user
*.suo
*.swp
*.tmp
*.log
.DS_Store
.vscode/
.idea/

# Doxygen outputs (anywhere)
**/html/
**/latex/
**/man/
**/rtf/
**/xml/
**/docbook/

# Doxgen 
!docs/
!docs/*.md
!docs/img/
!docs/img/**
!Doxyfile